<a href="https://colab.research.google.com/github/salahdakhouche/ALX/blob/main/Salah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Crée une variable entière nommée age qui stock l'age d'un individu

In [2]:
age = 28

2 - Crée une variable décimale nommée taille qui stock la taille d'un individu

In [1]:
taille = 1.82

3 - Crée une variable chaine de caractère nommée nom qui stock le nom d'un individu

In [3]:
nom = "Dakhouche"

4 - Crée une variable booléene nommée détection qui stock les résultats d'un détecteur de mensonge

In [5]:
detection = False

5 - Crée un ensemble de variables qui stock les informations suivantes sur un étudiant : nom, prénom, age, taille, sexe, domicile, diplomé(Oui ou Non).

In [6]:
nom = "james"
prenom = "Eric"
age = 27
taille =1.91
sexe ="homme"
domicile = "France"
diplome = "oui"

6 - Fais la somme de ton age et de la valeur 22 et stock le résultat dans une nouvelle variable

In [11]:
n_age = age+22
print(n_age)

49

7 - Soustrait ton age de la nouvelle variable obtenue en 6

In [12]:
n_age=n_age-age
print(n_age)

22

8 - Divise ton age par deux et stock le résultat dans une nouvelle variable

In [13]:
d_age = age/2
print(d_age)

13.5

9 - Fais le produit de ton age et de la variable obtenue en 8

In [16]:
p_age = age*d_age
print(p_age)

364.5

10 - Ton age a la puissance 3 donne ?

In [22]:
print(age**3)

19683

11 - Vérifie si les données 'Marc' et 'marc' sont égaux

In [23]:
print('Marc'=='marc')

False

12 - Vérifie si les données 14 et 14.0 sont inégaux

In [24]:
print(14 == 14.0)

True

13 - Compare la variable obtenue en 6 à celle en 8

In [25]:
if n_age>d_age :
  print("la valeur en 6 est supérieure à la valeur en 8")
elif n_age<d_age :
  print("la valeur en 8 est supérieure à la valeur en 6")
else :
  print('les valeurs sont égaux')

la valeur en 6 est supérieure à la valeur en 8

14 - Crée une fonction qui nous donnera la possibilité de comparer deux variables

In [28]:
def compare(p_valeur, d_valeur) :
  if p_valeur > d_valeur :
    print(f'{p_valeur} > {d_valeur}')
  elif p_valeur < d_valeur :
    print(f'{p_valeur} < {d_valeur}')
  else :
    print(f'{p_valeur} = {d_valeur}')

compare(2,2)

2 = 2

15 - Crée une fonction qui nous donnera le signe d'une variable

In [31]:
def signe(p_valeur) :
  if p_valeur > 0 :
    print(f'{p_valeur} est positif')
  elif p_valeur < 0 :
    print(f'{p_valeur} est négatif')
  else :
    print(f'{p_valeur} est null')

signe(0)

0 est null

16 - Crée une liste de 10 décimaux

In [38]:
liste = [0,1,2,3,4,5,6,7,8,9]
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

16 - Crée une fonction qui calcule la somme des 3 premiers éléments de la liste

In [33]:
def somme_trois(list):
  value = 0
  for i in range(3):
    value+=list[i]
  print(value)
somme_trois(liste)

3

17 - Crée une foction qui calcule le produit des 3 derniers éléments de la liste

In [34]:
def produit_trois(list):
  value = 1
  for i in range(3):
    value*=list[i]
  print(value)
produit_trois(liste)

0

18 - Crée une fonction qui calcule la différence des éléments situés aux positions 4 à 8

<b>j'ai pas bien compris cette question</b>

19 - Ajoute 3 autres décimaux à ta liste

In [39]:
liste.extend([10,12,11])
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 11]

20 - Trie la liste dans l'ordre croissant

In [40]:
liste.sort()
print(liste)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

21 - Trie la liste dans l'ordre décroissant

In [41]:
liste.sort(reverse=True)
print(liste)

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

22 - Crée une liste des pays suivants : Togo, Mali, Burkina et Congo

In [42]:
p_list=['Togo', 'Mali', 'Burkina' , 'Congo']
print(p_list)

['Togo', 'Mali', 'Burkina', 'Congo']

23 - Vérifie si le Niger est dans la liste

In [43]:
print('Niger' in p_list)

False

24 - Crée un dictionnaire de recensement homme et femme d'une population

In [53]:
recensement = {'Homme':0,
               'Femme':0}

25 - Ajoute a ce dictionaire une catégrorie non défini pour les informations manquantes

In [54]:
recensement['undifiend'] = "desc"
print(recensement)

{'Homme': 0, 'Femme': 0, 'undifiend': 'desc'}

26 - Utilise une boucle for qui retournera a la fois les clefs et les valeurs

In [55]:
for key,value in recensement.items() :
  print (key,value)

Homme 0
Femme 0
undifiend desc